/* body,h1,h2,h3,p,div,ul,li {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
ul,li {
    list-style:none;
}
a {
    text-decoration: none;
    color: black;
}
address {
    font-style: normal;
}

.blind {
    position:absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin:-1px;
    overflow: hidden;
}
.screen_out {
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
}
.hide {
    position: absolute;
    left: -9999px;
    top: -9999px;
} */